<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Medikus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- Video background autoplay -->
	<div>
		<video autoplay muted loop class="video">
			<source src="images/ambient_background.mp4" type="video/mp4">
		</video>
	</div>

	<!-- Header showing the application name, navigation, logout button and a link to the ADMIN ONLY user list button -->
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/home"
				style="text-align: center; color: rgba(0, 0, 155, 0.35); font-size: 28px; font-weight: bold; text-decoration: none;">
				Medikus </a>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/home" class="btn btn-light text-light"
				style="background: rgba(0, 0, 155, 0.35);">Home</a></li>
			<li><a href="/healthlist" class="btn btn-light text-light"
				style="background: rgba(0, 0, 155, 0.35);">Record</a></li>
			<li><a href="/statistics" class="btn btn-light text-light"
				style="background: rgba(0, 0, 155, 0.35);">Statistics</a></li>
			<li><a href="/about" class="btn btn-light text-light"
				style="background: rgba(0, 0, 155, 0.35);">About</a></li>
		</ul>

		<div class="col-md-3">

			<form style="display: inline; float: right; margin: 5px"
				th:action="@{/logout}" method="post">
				<input type="submit" class="btn btn-sm btn-danger" value="Log out" />
			</form>
			<div sec:authorize="hasAuthority('ADMIN')"
				style="display: inline; float: right; margin: 5px">
				<a href="/userlist" class="btn btn-sm btn-outline-secondary">User
					list</a>
			</div>
		</div>
	</header>

	<!-- Form to add health journals with save and cancel button-->
	<div class="form-group"
		style="text-align: center; color: white; padding: 10px 20px;">
		<form th:object="${health}" th:action="@{/save}" action="#"
			method="POST">
			<label style="color: black;">Date <input type="date"
				id="date" th:field="*{date}" class="form-control" required /></label> <label
				style="color: black;">Motto of the day <input type="text"
				id="motto" th:field="*{motto}" class="form-control"
				placeholder="Fresh breath of a new beginning." /></label> <input
				type="submit" class="btn btn-success" value="Save health journal" />
			<a href="/home" class="btn btn-outline-danger">Cancel</a>
		</form>
	</div>
</body>
</html>